.dropdown-menu {
  display: flex;
  flex-direction: column;
  height: 353px;
  width: 235px;
  background-color: lightblue;
  position: absolute;
  background-color: rgb(20, 20, 20);
  z-index: 999;
  /* position: absolute; */
}

.dropdown {
  padding: 14.5px;
  margin-left: 15px;
  font-family: "Amazon Ember";
  font-size: 17px;
  position: relative;
}

.dropdown:hover {
  background-color: #505050;
  /* position: absolute; */
}

.dropdown-icon {
  color: gray;
  padding-right: 3px;
}

.line1 {
  border-bottom: 1px solid gray;
  color: lightgray;
}
