/* @import 'node_modules/react-modal-video/scss/modal-video.scss'; */
.front-div {
  display: flex;
  flex-direction: row;
}

.second-div {
  /* border: 4px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 547px;
  max-width: 870px;
  position: relative;
  object-fit: contain;
  overflow-y: hidden;
  overflow-x: scroll;
}

.second-div1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.second-div2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.second-div3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* .slide-selected {
    height:547px ;
    width:870px ;
    position: absolute;
} */

/* .background-img3:before {
  width: 100%;
  height: auto;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
} */
/* opacity: .5; */

.background-img {
  height: 547px;
  width: 1600px;
  background-image: url("https://i.postimg.cc/VvQzxPW6/61038-warner-bros1.jpg");
  background-size: contain;
  position: relative;
  left: 12rem;
  /* border: 1px solid red; */
  /* position: absolute;; */
  /* z-index:-1; */
}

.background-img1 {
  height: 547px;
  width: 870px;
  background-image: url("https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555278745/shape/mentalfloss/zodiached.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  /* bottom: 4rem;
    position: relative; */
  /* right: 4rem */
}

/* .background-img1:before {
    content: '';
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
  } */

.background-img2 {
  height: 547px;
  width: 870px;
  background-image: url("https://i.postimg.cc/kXZmVtHS/MV5-BMj-A3-Mz-A5-Mz-Yw-Nl5-BMl5-Ban-Bn-Xk-Ft-ZTcw-Mzg3-ODIx-NA-V1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  /* bottom: 4rem;
    position: relative;
    right: 8rem; */
}

.background-img3 {
  /* position: relative;
  top: .5rem; */
  height: 647px;
  width: 870px;
  /* background-image: url("https://i.postimg.cc/VvQzxPW6/61038-warner-bros1.jpg"); */
  background-image: url("https://i.postimg.cc/fLJLnhSn/image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
/* .background-img2:before {
    content: '';
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
  }  */

.second-info {
  display: flex;
  align-items: flex-end;
  position: relative;
  top: 16rem;
  /* border: 1px solid red; */
}

.second-front {
  display: flex;
  flex-direction: row;
}

.information {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.play-circle1 {
  font-size: 72px;
  color: whitesmoke;
}

.play-circle1:hover {
  color: #f5c518;
}

.p-tag2 {
  color: whitesmoke;
  font-size: 32px;
  text-align: left;
}

.p-tag3 {
  color: #ffffffb3;
  font-size: 22px;
}

.second-img {
  height: 245px;
  width: 165px;
  /* border: 1px solid orange; */
  margin-bottom: 2.5rem;
  padding-left: 0.5rem;
}

.inception-img {
  height: 245px;
  width: 164px;
  /* border: 1px solid orange; */
  margin-bottom: 1rem;
  /* position: absolute; */
}

.watchlist-icon1 {
  position: absolute;
  font-size: 48px;
  color: gray;
  margin-top: 2rem;
}

.play-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.modal-video {
  position: absolute;
}

.modal-video1 {
  border: 1px solid indigo;
  position: absolute;
}

@media (max-width: 1300px) {
  /* .background-img3 {
    height: 548px;
    width: 100%;
  } */

  .second-div {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1000px) {
  

  .second-div {
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

 @media (max-width: 850px) {
  .second-div {
    height: 783px;
    width: 681px;
    object-fit: contain;
  }
  
}



/* @media (max-width: 750px) {
  .background-img {
    height: 783px;
    width: 581px;
  }
  .second-div {
    height: 783px;
    width: 581px;
    object-fit: contain;
  }
} */
@media (max-width: 750px) {
  .second-div {
    height: 453px;
    width: 581px;
    object-fit: cover;
  }

  .second-div1 {
    height: 383px;
    width: 581px;
    object-fit: cover;
  }
  .second-div2 {
    height: 383px;
    width: 581px;
    object-fit: cover;
  }
  .second-div3 {
    height: 383px;
    width: 581px;
    object-fit: cover;
  }

  .second-info {
    /* height: 385px */
    height: 320px;
    width: 400px;
  }

  .second-img {
    position: relative;
    bottom: 8rem;
  }

  .second-front {
    position: relative;
    bottom: 8rem;
  }

  .p-tag2 {
    font-size: 20px;
  }

  .p-tag3 {
    font-size: 16px;
  }

  .play-circle1 {
    font-size: 48px;
  }
}



@media (max-width: 650px) {
  .background-img3 {
    height: 432px;
    width: 581px;
    object-fit: contain;
  }

  .background-img1 {
    height: 432px;
    width: 581px;
    /* background-image: url("https://i.ibb.co/GdWpnkj/screen-shot-2017-03-06-at-9-25-42-am-e1565367625930.png"); */
    background-size: contain;
    background-repeat: no-repeat;
  }

  .background-img2 {
    height: 432px;
    width: 581px;
    /* background-image: url("https://i.ibb.co/GdWpnkj/screen-shot-2017-03-06-at-9-25-42-am-e1565367625930.png"); */
    background-size: contain;
    background-repeat: no-repeat;
  }


    .second-div {
    height: 453px;
    width: 581px;
    object-fit: cover;
  }

  .second-div1 {
    height: 383px;
    width: 581px;
    object-fit: cover;
  }
  .second-div2 {
    height: 383px;
    width: 581px;
    object-fit: cover;
  }
  .second-div3 {
    height: 383px;
    width: 581px;
    object-fit: cover;
  }

  .second-info {
    /* height: 385px */
    height: 320px;
    width: 400px;
  }

  .second-img {
    position: relative;
    bottom: 8rem;
  }

  .second-front {
    position: relative;
    bottom: 8rem;
  }

  .p-tag2 {
    font-size: 20px;
  }

  .p-tag3 {
    font-size: 16px;
  }

  .play-circle1 {
    font-size: 48px;
  }
}

@media (max-width: 550px) {
  .background-img {
    height: 382px;
    width: 556px;
  }

  .second-div {
    height: 300px;
    width: 556px;
    object-fit: cover;
  }

  .second-info {
    /* height: 385px */
    height: 180px;
    width: 400px;
  }

  .second-img {
    position: relative;
    bottom: 1.5rem;
  }

  .second-front {
    position: relative;
    bottom: 1.5rem;
  }
}

@media (max-width: 500px) {
  .background-img {
    height: 382px;
    width: 556px;
  }

  .second-div {
    height: 382px;
    width: 556px;
    object-fit: cover;
  }

  .second-info {
    /* height: 385px */
    height: 180px;
    width: 400px;
  }

  .second-img {
    position: relative;
    bottom: 2.5rem;
  }

  .second-front {
    position: relative;
    bottom: 2.5rem;
  }
}

