.sidebar {
  background-color: #2d2d2d;
  display: flex;
  width: 380px;
  height: 749px;
  position: absolute;
  display: block;
  /* top: 10px; */
  /* bottom: 1px; */
  left: -110%;
  transition: 850ms;
  /* margin-top: 1rem; */
  /* align-items: center; */
}

.nav-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  bottom: 4rem;

}

@media (max-width: 1030px) {
  .navbar {
    left: -175%;
  }
}
